.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
    background:#f4f6f9;
    font-family:Segoe UI,sans-serif;
}

.card{
    border-radius:15px;
}

.card:hover{
    transform:translateY(-5px);
    transition:.3s;
}

.btn{
    border-radius:10px;
}

.table{
    border-radius:10px;
}

.table thead{
    background:#0d6efd;
    color:white;
}

.sidebar{
    background:linear-gradient(180deg,#0d6efd,#6610f2);
    min-height:100vh;
}

.nav-link{
    color:white;
}

.nav-link:hover{
    background:white;
    color:#0d6efd;
    border-radius:10px;
}

.dashboard-card{
    border:none;
    border-radius:20px;
    transition:.4s;
}

.dashboard-card:hover{
    transform:scale(1.03);
}
.main-content{
  margin-left: 260px;
  padding: 20px;
}
