/* Sidebar */
.sidebar {
    width: 260px;
    height: 100vh;
    background: linear-gradient(180deg, #1E3A8A, #2563EB);
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    box-shadow: 4px 0 15px rgba(0,0,0,0.15);
}

.logo {
    text-align: center;
    margin-bottom: 40px;
}

.logo h2 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.logo p {
    margin-top: 5px;
    font-size: 14px;
    color: #dbeafe;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 15px 0;
}

.menu li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    border-radius: 10px;
    transition: .3s;
}

.menu li a:hover,
.menu li a.active {
    background: rgba(255,255,255,0.20);
    transform: translateX(6px);
}

/* Main Content */
.main-content {
    margin-left: 260px;
    background: #F8FAFC;
    min-height: 100vh;
}

/* Navbar */
.navbar-custom {
    height: 70px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
}

.profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* Dashboard */
.dashboard-container {
    padding: 30px;
}
/* Search Box */
.search-box{
    display:flex;
    align-items:center;
    background:#f3f4f6;
    padding:10px 15px;
    border-radius:30px;
    width:320px;
    
   
}

.search-input{
    border:none;
    background:transparent;
    outline:none;
    margin-left:10px;
    width:100%;
    font-size:15px;
}

.search-icon{
    color:#2563EB;
}

.nav-icon{
    font-size:22px;
    color:#2563EB;
    cursor:pointer;
    margin-right:20px;
}

.profile-icon{
    font-size:42px;
    color:#2563EB;
    margin-right:10px;
}

.profile h5{
    margin:0;
    font-size:16px;
}

.profile small{
    color:#777;
}